input,
.time-meal-select,
.time-meal-input {
  font-family: source sans;
  padding: 0.5rem 1rem;
}

input:focus {
  outline: none;
}

input {
  padding: 0.65rem 0 0.65rem 2.25rem;
  background-color: #fff;
  border: none;
  box-shadow: 2px 4px 10px 0 rgba(30, 24, 37, 0.25) inset;
  text-transform: capitalize;
  border-radius: 0.625rem;
}

.time-meal-input {
  border-radius: 0.625rem 0 0 0.625rem;
  padding: 0.6rem 0.75rem 0.6rem 0.75rem;
  max-width: 6.8rem;
  min-width: 5.8rem;
}

.time-meal-select {
  border: 2px solid white;
}

input {
  color: var(--black);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.measurement {
  display: flex;
}

.log-input {
  border-end-end-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
  width: 3rem;
}

.time-meal-select {
  border-radius: 0 0.625rem 0.625rem 0;
  background: #1e1825;
  border-left: none;
  color: white;
}
