// Search
.search {
  width: 100%;

  input {
    background-image: url(src/assets/Search-Icon.svg);
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.75rem;
    padding: 0.65rem 0 0.65rem 2.25rem;
    border-radius: 0.625rem;
    min-width: 220px;
    border: none;
    background-color: #fff;
    box-shadow: 2px 4px 10px 0 rgba(30, 24, 37, 0.25) inset;
  }

  input:focus {
    outline: none;
  }

  .results-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px solid white;
    margin-top: 1rem;
    max-height: 300px;
  }
}

.result {
  color: white;
  font-family: Source Sans;
}
